html {
	width: 100%;
	height: 100%;
	margin: 0px;
/* 	background: -webkit-gradient(radial, 50% 50%, 400, 50% 50%, 800, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25))); */
}
body {
	position: relative;
	width: 100%;
/* 	height: 100%; */
	min-height: 100%;
	margin: 0px;
}

#container {
	width: 300px;
	margin: 0px auto 104px auto;
	border-radius: 4px;
	padding-bottom: 16px;
	background-color: white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
#pattern_c {
	width: 260px;
	height: 182px;
	padding: 6px 20px 0px 20px;
}
#color_c {
	width: 260px;
	height: 142px;
	padding: 4px 20px 0px 20px;
}

.ui-slider-handle {
    outline: none;
}


#hue {
	width: 120px;
	height: 34px;
	float: left;
}
#huelabel {
	height: 18px;
	margin-bottom: -8px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#hueslider {
	width: 120px;
	height: 8px;
	position: relative;
	margin: 12px 0px;
	border-radius: 4px;
	background: url("g6728.png") left -20px no-repeat, -webkit-gradient(linear, left top, right top, 
		from(hsl(0, 100%, 50%)), 
		to(hsl(0, 100%, 50%)), 
		color-stop(0.167, hsl(60, 100%, 50%)),
		color-stop(0.333, hsl(120, 100%, 50%)),
		color-stop(0.500, hsl(180, 100%, 50%)),
		color-stop(0.667, hsl(240, 100%, 50%)),
		color-stop(0.833, hsl(300, 100%, 50%))
	);
}


#saturation {
	width: 120px;
	height: 142px;
	float: right;
}
#saturationlabel {
	height: 18px;
	margin-bottom: 4px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#saturationslider {
	width: 120px;
	height: 120px;
	position: relative;
	margin: 0px;
	border-radius: 4px;
	background: url("g6728.png") left -28px no-repeat, -webkit-gradient(linear, left top, right top, 
		from(hsl(208, 100%, 50%)), 
		to(hsl(208, 0%, 50%))
	);
}
#saturationslider .ui-slider-handle {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-bottom: -10px;
	margin-left: -10px;
	background: url("g6728.png") -20px 0px no-repeat;
}

#highlight {
	width: 120px;
	height: 34px;
	float: left;
	margin-top: 40px;
}
#highlightlabel {
	height: 18px;
	margin-bottom: -8px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#highlightslider {
	width: 120px;
	height: 8px;
	position: relative;
	margin: 12px 0px;
	border-radius: 4px;
	background: url("g6728.png") left -20px no-repeat, -webkit-gradient(linear, left top, right top, 
		from(hsl(208, 100%, 50%)), 
		to(hsl(208, 100%, 74%))
	);
}

#noise {
	width: 120px;
	height: 34px;
	float: left;
	margin-top: 4px;
}
#noiselabel {
	height: 18px;
	margin-bottom: -8px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#noiseslider {
	width: 120px;
	height: 8px;
	position: relative;
	margin: 12px 0px;
	border-radius: 4px;
	background: url("g6728.png") left -148px no-repeat;
	background-color: hsl(208, 100%, 50%);
}


#patternsize {
	width: 80px;
	float: left;
}
#patternsizelabel {
	height: 18px;
	margin-bottom: -8px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#patternsizeslider {
	width: 80px;
	height: 8px;
	position: relative;
	margin: 12px 0px;
	border-radius: 4px;
	background: url("g6728.png") -120px -22px no-repeat;
	background-color: #c0c0c0;
}



#hueslider .ui-slider-handle, #highlightslider .ui-slider-handle, #noiseslider .ui-slider-handle, #patternsizeslider .ui-slider-handle {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -6px ; /* (8 - 20) / 2 */
	margin-left: -10px;
	background: url("g6728.png") 0px 0px no-repeat;
}

#patterngrid_c {
	width: 160px;
	margin-left: 20px;
	float: left;
}
#patternlabel {
	height: 18px;
	margin-bottom: 4px;
	vertical-align: middle;
	color: #c0c0c0;
	font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Lucida, Arial, Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 18px;
}
#pattern {
/* 	width: 160px; */
/* 	height: 160px; */
	position: relative;
	background: url("g6728.png") -120px -30px no-repeat;
	background-color: #808080;
	border-radius: 6px;
}
.pattern_3sq {
	width: 66px;
	height: 66px;
	padding: 47px;
}
.pattern_4sq {
	width: 88px;
	height: 88px;
	padding: 36px;
}
.pattern_5sq {
	width: 110px;
	height: 110px;
	padding: 25px;
}
.pattern_6sq {
	width: 132px;
	height: 132px;
	padding: 14px;
}
.pattern_7sq {
	width: 154px;
	height: 154px;
	padding: 3px;
}

.pattern_row {
	clear: both;
}

.pixel {
	width: 22px;
	height: 22px;
	float: left;
	background: url("g6728.png") -120px top no-repeat;
}
.pixel-on {
	background: url("g6728.png") -142px top no-repeat;
}
.pixel label {
	display: block;
	width: 22px;
	height: 22px;
/* 	cursor: pointer; */
}
.pixel input[type=checkbox] {
	position: absolute;
	margin-left: 200px;
	opacity: 0;
}

#prog {
	width: 260px; height: 8px; margin: 16px 20px 0px 20px
}
#prog .prog_anim {
	display: none; width: 260px; height: 8px; position: absolute;
}
#prog .prog_over {
	width: 260px; height: 8px; position: absolute; background: url(g6728.png) 0px -190px no-repeat;
}
#prog.prog_waiting .prog_anim {
	display: block; background: url(prog.gif) 0px 0px repeat-x;
}
#prog.prog_waiting .prog_over {
	background: url(g6728.png) 0px -198px no-repeat;
}

#submit {
	width: 120px; height: 48px; position: relative; margin: 8px auto 0px auto;
}
#prv_noise {
	width: 120px; height: 48px; position: absolute; background: url(noise.png) no-repeat;
}
#prv_shadow {
	width: 120px; height: 48px; position: absolute; background: url(g6728.png) 0px -302px no-repeat;
}
#prv_button {
	width: 120px; height: 48px; position: absolute; background: url(g6728.png) 0px -206px no-repeat;
}
.submit_light #prv_button {
	background: url(g6728.png) -120px -254px no-repeat;
}


#history {
	width: 100%;
	height: 64px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	background: url(g6728.png) 0px -450px repeat-x;
}
.old_pattern {
	width: 48px; height: 48px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	float: left;
	margin: 8px 4px;
	border-radius: 2px;
	background: url(g6728.png) 0px -514px no-repeat;
}
#favorites {
	position: absolute;
	top: 100%;
	padding-top: 50px;
	background: url(b3d5e265f054d9141b3ebaf354f84bd3_final.png) 0px 0px;
}
#favorites .old_pattern {
	margin: 4px 4px;
}